%h2.page-header= @item.title

.row
  .col-md-8.col-md-offset-2
    = simple_form_for @item, class: Activity do |f|
      = f.input :title
      = f.association :city
      = f.association :tags, as: :check_boxes
      = f.input :description, as: :text

      = f.button :submit, "OK"
