!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= sitename
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => root_path}= sitename
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Все экскурсии", activities_path
            %li= link_to "Все достопримечательности", attractions_path
            %li= link_to "Все тэги", tags_path

          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = city.name
                %span.caret
              %ul.dropdown-menu
                - cities.each do |city|
                  %li= link_to city.name, city_path(city)

    .container
      = yield
